* {
    box-sizing: border-box;
}

body {
    background: hsl(225, 100%, 94%) url(images/pattern-background-desktop.svg) no-repeat;
    font-family: 'Red Hat Display';
    font-size: 16px;
}

@media (max-width: 375px) {
    body {
        background: hsl(225, 100%, 94%) url(images/pattern-background-mobile.svg) no-repeat;
    }
}

h1, h3 {
    color: hsl(223, 47%, 23%);
}

h1 {
    font-weight: 900;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

p {
    color: hsl(224, 23%, 55%);
}

.bill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 620px;
    background-color: white;
    border-radius: 20px;
}

@media (max-width: 375px) {
    .bill {
        width: 300px;
        height: 465px;
    }
}  

.top-part-img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.top-section {
    max-width: 70%;
    margin: 30px auto;
}

h1, .top-section > p {
    text-align: center;
}

.plan-section {
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    padding: 20px 0;
}

.icon-music {
    width: 45px;
    height: 45px;
}

.plan-type {
    margin-left: 0;
    padding-left: 0;
}

.plan-type > h3, .plan-type > p {
    margin: 0;
}

a {
    font-size: 14px;
    font-weight: 500;
    color: hsl(245, 75%, 52%);
}

a:hover {
    color: hsl(245, 50%, 65%);
}

.button-section {
    text-align: center;
}

button {
    width: 80%;
    height: 50px;
    font-weight: 700;
    border-radius: 15px;
    border: none;
}

.proceed-button {
    background-color: hsl(245, 75%, 52%);
    color: #eee;
    box-shadow: 0 8px 10px 8px hsl(256, 48%, 94%);
}

.proceed-button:hover {
    background-color: hsl(245, 50%, 65%);
}

.cancel-button {
    background-color: transparent;
    color: hsl(224, 23%, 55%);
}

.cancel-button:hover {
    color: hsl(223, 47%, 23%);
}

.attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-size: 11px;
}
